@model vlko.core.Components.PagedModel<object>
@using vlko.BlogModule.Action.ViewModel;
@{
	ViewBag.Title = "Home Page";
}
<h2 id="timeline">Moja časová os</h2>
<section id="search_results">
	@foreach (var item in Model) 
	{
		if (item is StaticTextViewModel)
		{
			@Html.Partial("~/Views/Content/StaticText.cshtml", item as StaticTextViewModel)
		}
		if (item is vlko.BlogModule.Roots.TwitterStatus)
		{
			@Html.Partial("~/Views/Content/TwitterStatus.cshtml", item as vlko.BlogModule.Roots.TwitterStatus)
		}
		if (item is RssItemViewModel)
		{
			@Html.Partial("~/Views/Content/RssItem.cshtml", item as RssItemViewModel)
		}
	}
<div>@Pager.Render(Html, Model)</div>
</section>
