<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="1.2.10" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="RavenDB-Embedded" version="1.0.0.360" />
  <package id="NLog" version="2.0.0.0" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.3" />
  <package id="Iesi.Collections" version="3.2.0.1003" />
  <package id="NHibernate" version="3.2.0.1003" />
  <package id="ConfOrm" version="1.0.1.4" />
  <package id="AntiXSS" version="4.0.1" />
  <package id="Lucene" version="2.9.2.2" />
</packages>