<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.2.1" />
  <package id="ConfOrm" version="2.0.0.0" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="jQuery" version="1.6.4" />
  <package id="jQuery.UI.Combined" version="1.8.16" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NHibernate" version="3.3.0.4000" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB-Embedded" version="1.0.888" />
  <package id="System.Data.SQLite" version="1.0.80.0" />
  <package id="twitterizer" version="2.4.0.26532" />
  <package id="WebActivator" version="1.5" />
</packages>