@using vlko.core.Tools
<article class="note span6">
	<a href="@Url.Action("Index", "About")">
		<h3 class="title">O mne</h3>
		<div class="text"><img id="logo" src="@Url.Content("~/Content/images/vlko-logo.png")" alt="logo" /></div>
	</a>
</article>


