@model Tuple<int, string>
@{
	var routeValuesDictionary = new System.Web.Routing.RouteValueDictionary();
	routeValuesDictionary.Add("Page", Model.Item1);		   	
}
<article class="note span6">
	<a class="fill" href="@Url.Action(null, null, routeValuesDictionary)">
		<h3 class="title">@Model.Item2</h3>
	</a>
</article>


