@using Microsoft.Security.Application
@model vlko.BlogModule.Roots.TwitterStatus
<article class="twitter_status">
	<a  href="http://twitter.com/@Model.User/status/@Model.TwitterId">
		<img src="@Url.Content("~/Content/images/twitter.png")" alt="Tweet link" class="icon-link"/>
		<span class="date">@String.Format("{0:g}", Model.CreatedDate)</span>
	</a>
	<div class="title">
			@if (string.IsNullOrEmpty(Model.RetweetUser)) { <a href="http://twitter.com/@Model.User" class="twitter_user">@@@Model.User</a>}
		else { <a href="http://twitter.com/@Model.RetweetUser" class="twitter_user twitter_retweet ">RT @@@Model.RetweetUser</a>}:
		@Html.Raw(Sanitizer.GetSafeHtmlFragment(Model.Text))
	</div>
</article>
