@model vlko.BlogModule.Roots.TwitterStatus
<article class="twitter_status">
	<span class="date">@String.Format("{0:g}", Model.CreatedDate)</span>
	<a class="icon-link" href="http://twitter.com/@Model.User/status/@Model.TwitterId"><img src="@Url.Content("~/Content/images/twitter.gif")" alt="Tweet link" /></a>
	<div class="text">
		@if (string.IsNullOrEmpty(Model.RetweetUser)) { <a href="http://twitter.com/@Model.User" class="twitter_user">@@@Model.User</a>} 
		else { <a href="http://twitter.com/@Model.RetweetUser" class="twitter_user twitter_retweet ">RT @@@Model.RetweetUser</a>}:
		@Html.Raw(Model.Text)</div>
</article>
