@model vlko.web.ViewModel.Account.ResetPasswordModel
@{
	ViewBag.Title = "Reset password";
}
<h2>Reset password</h2>
<p>
	Use the form below to specify email address to start reset password process.
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true, "Reset password was unsuccessful. Please correct the errors and try again.")
	<div>
		<fieldset>
			<legend>Account email</legend>
			<div class="clearfix@(!Html.IsValid(model => model.Email) ? " error" : string.Empty)">
				@Html.LabelFor(m => m.Email)
				<div class="input">
					@Html.TextBoxFor(m => m.Email, new { @class = "xlarge" })
					@Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-inline" })
				</div>
			</div>

			<div class="actions">
				<input type="submit" value="Reset password" class="btn primary"/>
			</div>
		</fieldset>
	</div>
}
