/*
 * Scaffolding.scss
 * Basic and global styles for generating a grid system, structural layout, and page templates
 * ------------------------------------------------------------------------------------------- */


$fluidSidebarColumns: 4; 
$fluidSidebarWidth: ($gridColumnWidth + $gridGutterWidth) * $fluidSidebarColumns;
 
$buttonFontSize: $basefont;
$buttonLargeFontSize: $basefont + 3;
$buttonSmallFontSize: $basefont - 2;
$buttonRadius: 4px;


// GRID SYSTEM
// -----------

.row {
  @include clearfix();
  margin-left: -20px;

  // Default columns
  .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16 {
    display: inline;
    float: left;
    margin-left: $gridGutterWidth;
  }

  // Default columns
  .span1 { @include columns(1); }
  .span2 { @include columns(2); }
  .span3 { @include columns(3); }
  .span4 { @include columns(4); }
  .span5 { @include columns(5); }
  .span6 { @include columns(6); }
  .span7 { @include columns(7); }
  .span8 { @include columns(8); }
  .span9 { @include columns(9); }
  .span10 { @include columns(10); }
  .span11 { @include columns(11); }
  .span12 { @include columns(12); }
  .span13 { @include columns(13); }
  .span14 { @include columns(14); }
  .span15 { @include columns(15); }
  .span16 { @include columns(16); }

  // Offset column options
  .offset1 { @include offset(1); }
  .offset2 { @include offset(2); }
  .offset3 { @include offset(3); }
  .offset4 { @include offset(4); }
  .offset5 { @include offset(5); }
  .offset6 { @include offset(6); }
  .offset7 { @include offset(7); }
  .offset8 { @include offset(8); }
  .offset9 { @include offset(9); }
  .offset10 { @include offset(10); }
  .offset11 { @include offset(11); }
  .offset12 { @include offset(12); }
}


// STRUCTURAL LAYOUT
// -----------------

html, body {
  background-color: #fff;
}
body {
  margin: 0;
  @if $metroUI != true {
	@include sans-serif-font(normal,$basefont,$baseline);
  } @else {
	@include metro-font(normal,$basefont,$baseline);
  }
  color: $gray;
  text-rendering: optimizeLegibility;
}

.text {
  color: $black;
  a {
    text-decoration: underline;
  }
}

// Container (centered, fixed-width layouts)
.container {
  width: $siteWidth;
  margin: 0 auto;
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding: 0 $gridGutterWidth;
  @include clearfix();
  .sidebar {
    float: left;
    width: $fluidSidebarWidth - $gridGutterWidth;
  }
  .content {
    min-width: $siteWidth - $fluidSidebarWidth;
    max-width: $siteWidth + $fluidSidebarWidth;
    margin-left: $fluidSidebarWidth;
  }
}


// BASE STYLES
// -----------

// Links
a {
  color: $linkColor;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }
}
