<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="configInt" value="2" />
    <add key="configString" value="someVal" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.505" newVersion="1.0.0.505" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>