@model vlko.core.Components.PagedModel<StaticTextViewModel>
@using vlko.BlogModule.Commands.ViewModel
@using vlko.web.Controllers;
@using vlko.core.Components;
@{
	ViewBag.Title = "Blog na netechnické témy";
	
	Html.ScriptInclude("~/Scripts/Grid.js");
}
<h2 class="note-main">Blog na netechnické témy</h2>
@foreach (var item in Model) { 
	@Html.Partial("~/Views/Content/StaticText.cshtml", item)
}
<div class="cleaner">@Pager.Render(Html, Model)</div>
@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		$("#content").ajaxGrid();

		// links
		$("#content .note a")
			.click(function () {
				createLoading();
				var nextUrl = $(this).attr("href");
				$.ajax({
					url: nextUrl + "?ajaxTime=" + new Date().getTime(),
					success: function (data) {
						var edit = createContentDialog({
							data: data,
							prevUrl: getCurrentHistoryUrl()
							});
						closeLoading();
						addToHistory(nextUrl);
					},
					error: ajaxException
				});
				return false;
			});
	});
</script>);
}	

